extends layout

block content
  .jumbotron
    .container
      h1 How May I Help you?
      p lorem ipsum dolor sit amor
      a.btn.btn-primary.btn-lg(href="#") Learn more &raquo;
  .container
    .row
      .col-md-4
        h2 About Us
        p lorem ipsum dolor sit amor
        a.btn.btn-dark(href="#") View Details
      .col-md-4
        h2 Services
        p lorem ipsum dolor sit amor
        a.btn.btn-dark(href="#") View Details
      .col-md-4
        h2 Get In Touch
        p lorem ipsum dolor sit amor
        a.btn.btn-dark(href="#") View Details

