html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.jumbotron {
  background-image:url("../images/bg.jpg");
  background-size: cover;
  color: #e0dede;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #343a40;
  color: white
}
